* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width:414px) {
    #background {
        background-image: url(img/dogs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        max-width: 100vh;
        filter: brightness(0.5);
    }
    #logoText {
        position: absolute;
        width: 300px;
        top: 50px;
    }
    #big__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #logo {
        background-image: url('img/logo.png');
        height: 105px;
        width: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 25em;
    }
    h2 {
        color: white;
        color: white;
        padding-left: 114px;
        padding-top: 10px;
        text-align: center;
    }
    h3 {
        padding-top: 12px;
    }
    #buttons {
        position: absolute;
        margin-top: 150px;
        margin-left: 90px;
    }
    #sing {
        width: 225px;
        height: 50px;
        background-color: #1C1E20;
        border-radius: 30px;
        margin-bottom: 15px;
        text-align: center;
        color: white;
        filter: opacity(0.7);
    }
    #log {
        width: 225px;
        height: 50px;
        background-color: #FA6650;
        border-radius: 30px;
        text-align: center;
        color: white;
    }
    #textFooter {
        color: white;
        width: 280px;
        margin-top: 10px;
    }
    #line {
        width: 180px;
        height: 7px;
        background-color: white;
        border-radius: 7px;
        position: absolute;
        bottom: 10px;
        left: 29%;
    }
    #btnContainer {
        position: absolute;
        bottom: 315px;
    }
    #register {
        position: absolute;
        left: 29%;
        color: white;
    }
    #reg {
        color: #FA6650;
        margin-bottom: 10px;
    }
    input {
        padding: 10px;
    }
    #btn {
        width: 185px;
        height: 50px;
        background-color: #FA6650;
        border-radius: 30px;
        text-align: center;
        color: white;
        margin-top: 15px;
        border: 0;
        font-size: 20px;
        font-weight: bold;
    }
}