<title>Trainers</title>
<link rel="stylesheet" href="/static/stylesheets/activities.css" />

<div class="main-container">
  <div class="header flex">
    <img src="/static/img-activity/logo.png" alt="" />
    <h1 class="trainer">Trainers</h1>
    <h1 class="activities">Activities</h1>
    <img src="/static/img-activity/user-profile-img.jpg" alt="" />
  </div>
  <hr class="orange-line" />
</div>
<div class="search-bar-div">
  <input type="text" class="search-bar" placeholder="Search an activity" />
</div>
<!-- activities -->
<div class="trainer-profile">
  <hr class="orange-line" />
  <div class="activities-infos flex">
    <div class="trainer-pic"></div>
    <div class="activity-name">
      <h4>John</h4>
      <p class="grey-text">Golden Retriever - Mobile</p>
    </div>
  </div>
  <div class="activity-description flex">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates
    sit distinctio.
  </div>
  <div class="location-text flex">
    <img src="/static/img-activity/location-icon.png" alt="" class="location" />
    <p>Miami Beach 56, Planet Earth</p>
  </div>
  <div class="dog-pic">
    <img src="/static/img-activity/parc.jpg" alt="" class="dog-pic" />
  </div>
  <div class="reviews flex">
    <h2 class="average-rating">4.6</h2>
    <img src="/static/img-activity/star.png" alt="" class="star" />
    <img src="/static/img-activity/star.png" alt="" class="star" />
    <img src="/static/img-activity/star.png" alt="" class="star" />
    <img src="/static/img-activity/star.png" alt="" class="star" />
    <img src="/static/img-activity/star.png" alt="" class="star" />
  </div>
  <div class="trainer-profile">
    <hr class="orange-line" />
    <div class="activities-infos flex">
      <div class="trainer-pic"></div>
      <div class="activity-name">
        <h4>John</h4>
        <p class="grey-text">Golden Retriever - Mobile</p>
      </div>
    </div>
    <div class="activity-description flex">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
      voluptates sit distinctio.
    </div>
    <div class="location-text flex">
      <img
        src="/static/img-activity/location-icon.png"
        alt=""
        class="location"
      />
      <p>Miami Beach 56, Planet Earth</p>
    </div>
    <div class="dog-pic">
      <img src="/static/img-activity/parc.jpg" alt="" class="dog-pic" />
    </div>
    <div class="reviews flex">
      <h2 class="average-rating">4.6</h2>
      <img src="/static/img-activity/star.png" alt="" class="star" />
      <img src="/static/img-activity/star.png" alt="" class="star" />
      <img src="/static/img-activity/star.png" alt="" class="star" />
      <img src="/static/img-activity/star.png" alt="" class="star" />
      <img src="/static/img-activity/star.png" alt="" class="star" />
    </div>
    <a class="post-my-activity flex" href="/activity/activity_post">
      <h2>Post my activity</h2>
      <img
        src="/static/img-activity/plus-circle.png"
        alt=""
        class="plus-icon"
      />
    </a>
    <div class="footer">
      <hr class="footer-line" />
    </div>
  </div>
</div>
