<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="activities.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <title>Trainers</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header flex">
        <img src="./img-activity/logo.png" alt="" />
        <h1 class="trainer">Trainers</h1>
        <h1 class="activities">Activities</h1>
        <img src="./img-activity/user-profile-img.jpg" alt="" />
      </div>
      <hr class="orange-line" />
    </div>
    <div class="search-bar-div">
      <input type="text" class="search-bar" placeholder="Search an activity" />
    </div>
    <!-- activities -->
    <div class="trainer-profile">
      <hr class="orange-line" />
      <div class="activities-infos flex">
        <div class="trainer-pic"></div>
        <div class="activity-name">
          <h4>John</h4>
          <p class="grey-text">Golden Retriever - Mobile</p>
        </div>
      </div>
      <div class="activity-description flex">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
        voluptates sit distinctio.
      </div>
      <div class="location-text flex">
        <img src="./img-activity/location-icon.png" alt="" class="location" />
        <p>Miami Beach 56, Planet Earth</p>
      </div>
      <div class="dog-pic">
        <img src="./img-activity/parc.jpg" alt="" class="dog-pic" />
      </div>
      <div class="reviews flex">
        <h2 class="average-rating">4.6</h2>
        <img src="./img-activity/star.png" alt="" class="star" />
        <img src="./img-activity/star.png" alt="" class="star" />
        <img src="./img-activity/star.png" alt="" class="star" />
        <img src="./img-activity/star.png" alt="" class="star" />
        <img src="./img-activity/star.png" alt="" class="star" />
      </div>
      <div class="trainer-profile">
        <hr class="orange-line" />
        <div class="activities-infos flex">
          <div class="trainer-pic"></div>
          <div class="activity-name">
            <h4>John</h4>
            <p class="grey-text">Golden Retriever - Mobile</p>
          </div>
        </div>
        <div class="activity-description flex">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
          voluptates sit distinctio.
        </div>
        <div class="location-text flex">
          <img src="./img-activity/location-icon.png" alt="" class="location" />
          <p>Miami Beach 56, Planet Earth</p>
        </div>
        <div class="dog-pic">
          <img src="./img-activity/parc.jpg" alt="" class="dog-pic" />
        </div>
        <div class="reviews flex">
          <h2 class="average-rating">4.6</h2>
          <img src="./img-activity/star.png" alt="" class="star" />
          <img src="./img-activity/star.png" alt="" class="star" />
          <img src="./img-activity/star.png" alt="" class="star" />
          <img src="./img-activity/star.png" alt="" class="star" />
          <img src="./img-activity/star.png" alt="" class="star" />
        </div>
        <div class="post-my-activity flex">
          <h2>Post my activity</h2>
          <img src="./img-activity/plus-circle.png" alt="" class="plus-icon">        
        </div>
      <div class="footer">
        <hr class="footer-line" />
      </div>
    </div>
  </body>
</html>
