<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="trainer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Trainers</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header flex">
        <img src="./img-trainer/logo.png" alt="" />
        <a class="nav" href="">Trainers</a>
        <a class="nav trainer" href="">Activities</a>
        <img src="./img-trainer/user-profile-img.jpg" alt="" />
      </div>
      <hr class="orange-line" />
      <!-- buttons -->
      <div class="button-container">
        <a class="btn orange" href="">About</a>
        <a class="btn black" href="">Reviews</a>
      </div>
      <hr class="orange-line" />
      <div class="activities-card">
        <h2>Dog park near Brussel</h2>
        <h3>Location: Somefakestreet 2 3655 Brussel</h3>
        <h4>Posted by: John Doe</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum
          officia exercitationem asperiores doloribus atque, nesciunt ipsa nihil
          est impedit nemo fugiat molestias optio vel voluptatibus tempora
          mollitia? Praesentium, expedita velit?
        </p>
        <div class="activities-img-div"></div>
        <div class="activities-img-div"></div>
        <hr class="orange-line" />
      </div>

      <div class="footer">
        <hr class="footer-line" />
      </div>
    </div>
  </body>
</html>
