<title>BookDoog</title>
<link rel="stylesheet" href="/static/stylesheets/registerP.css" />
<!-- <script src="/static/scripts/createprofile.js"></script> -->
<div id="big__container" class="">
  <div id="logoText">
    <div id="logo"></div>
  </div>
  <div id="register">
    <h1>Create a profile</h1>
    <div class="form-container">
      <p class="p">Who are you?</p>
      <div class="center">
        <p>User</p>
        <input type="checkbox" name="" />
        <p>Trainer</p>
      </div>

      <form action="/profiles/new" method="post">
        <p class="p">Your name</p>
        <input type="text" name="name" placeholder="Enter Your name" />

        <p class="p">Description</p>
        <textarea
          type="text"
          name="bio"
          placeholder="Write Your bio"
        ></textarea>

        <p class="p">Profile picture</p>

        <div class="btn-cont">
          <button type="submit" class="btn orange">Create</button>
        </div>
      </form>
    </div>
  </div>

  <div id="line"></div>
</div>
