<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/styleP.css">
    <title>BookDoog</title>
</head>

<body>

    <div id="big__container">
        <div id="background">
        </div>

        <div id="logoText">
            <div id="logo"></div>
            <h2>Cheesy <br> description/slogan here </h2>

        </div>

        <div id="btnContainer">
            <div id="buttons">
                <div id="sing">
                    <h3>Sing Up</h3>
                </div>
                <div id="log">
                    <h3>Login</h3>
                </div>
                <div id="textFooter">
                    <p>By singing in,you agree to the User Afreement and Privacy Teams.</p>
                </div>




            </div>

        </div>
        <div id="line"></div>

    </div>

</body>

</html>