<title>BookDoog</title>
<link rel="stylesheet" href="/static/stylesheets/styleP.css" />

<div id="big__container">
  <div class="small-container">
    <div id="logoText">
      <div id="logo"></div>
      <h2>
        Cheesy <br />
        description/slogan here
      </h2>
    </div>
    <a class="btn orange" href="">Sign up</a>
    <a class="btn black" href="">Log in</a>
      <div id="Footer">

          

        <p>By singing in,you agree to the User Afreement and Privacy Teams.</p>
      </div>
    </div>
  </div>
</div>
