<title>BookDoog</title>
<link rel="stylesheet" href="/static/stylesheets/main-style.css" />

<div id="big__container">
  <div class="small-container">
    <div id="logoText">
      <div id="logo"></div>
      <h2>
        Everything you need 
        for your dog best friend
      </h2>
    </div>
    <div class="btn-container">
      <a class="btn orange" href="/users/register">Sign up</a>
      <a class="btn black" href="/users/login">Log in</a>
    </div>
   
      <div id="Footer">

        <p>By singing in,you agree to the User Afreement and Privacy Teams.</p>
      </div>
    </div>
  </div>
</div>
