<title>BookDoog</title>
<link rel="stylesheet" href="/static/stylesheets/styleP.css" />

<div id="big__container">
  <div class="small-container">
    <div id="logoText">
      <div id="logo"></div>
      <h2>
        Cheesy <br />
        description/slogan here
      </h2>
    </div>
      
      <div id="Footer">

          <a class="btn orange" href="/users/register">Sign up</a>
          <a class="btn black" href="/users/login">Log in</a>

        <p>By signing in,you agree to the User Agreement and Privacy Teams.</p>
      </div>
    </div>
  </div>
</div>
