<title>BookDoog</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<link rel="stylesheet" href="/static/stylesheets/registerP.css" />

<div id="big__container">
  <div id="logo"></div>

  <div id="register">
    <h1>Login</h1>
    <div class="form-container">
      <%- include ('./partials/messages') %>
      <form action="/users/login" method="post">
        <p>Enter your email</p>
        <input type="text" name="email" placeholder="Enter Email" />

        <p>Enter your password</p>
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
        />

        <br />
        <div class="btn-cont">
          <button type="submit" class="btn orange">Login</button>
        </div>
      </form>
    </div>
  </div>

  <div id="line"></div>
</div>
