<title>BookDoog</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
<link rel="stylesheet" href="/static/stylesheets/registerP.css" />

<div id="big__container">
    <div id="logo"></div>

    <div id="register">
        <h1>Login</h1>
        <div class="form-container">
            <%- include ('./partials/messages') %>
                <form action="/users/login" method="post">
                    <p>Enter your email</p>
                    <input type="text" name="email" placeholder="Enter Email" />

                    <p>Enter your password</p>
                    <input type="password" name="password" placeholder="Enter your password" />
                    <!-- <i class="fas fa-eye" id="icon" onclick="show()"></i> -->

                    <div class="btn-cont">
                        <button type="submit" class="btn orange">Login</button>
                        <a class="btn black" href="/users/register">No account? Register</a>


<<<<<<< HEAD

                        <br />

                </form>
                </div>
        </div>

    </div>
=======
                        <br />
                </form>
                </div>
        </div>

    </div>

    <!-- <script>
    function show() {
        var password = document.querySelector('[name=password]');
        if (password.getAttribute('type') === 'password') {
            password.setAttribute('type', 'text');
            document.getElementById("icon").style.color = 'orange';
        } else {
            password.setAttribute('type', 'password');
            document.getElementById("icon").style.color = 'black';
>>>>>>> omer2

    <script>
        function show() {
            var password = document.querySelector('[name=password]');
            if (password.getAttribute('type') === 'password') {
                password.setAttribute('type', 'text');
                document.getElementById("icon").style.color = 'orange';
            } else {
                password.setAttribute('type', 'password');
                document.getElementById("icon").style.color = 'black';

            }
        }
<<<<<<< HEAD
    </script>

    <div id="line"></div>
</div>
=======
    }
</script> -->
>>>>>>> omer2
