<link rel="stylesheet" href="/static/stylesheets/registerP.css" />
<title>Post activity</title>

<div class="main-container">
  <div class="header flex">
    <img src="/static/img-trainer/logo.png" alt="" />
    <h1 class="trainer">Trainers</h1>
    <h1>Activities</h1>
    <img src="/static/img-activity/user-profile-img.jpg" alt="" />
  </div>
  <hr class="orange-line" />
  <h1 class="flex h1">Post your idea</h1>
  <div id="title">
    <p>Title</p>
    <input type="text " class="input" placeholder="Dog Park Near Brussel" />
  </div>

  <div id="descreiption">
    <p>descreiption</p>
    <textarea class="des">
The dog trainer's responsibilities include evaluating dogs' dispositions and temperaments, providing regular progress updates to clients, and teaching clients how to reinforce good behavior. You should also be able to answer clients' questions regarding training, behavioral issues, boarding, and pricing.</textarea
    >
  </div>

  <div id="location">
    <p>Location</p>
    <input type="text " class="input" placeholder="Uirbreideingstraat 2" />
  </div>

  <div id="add">
    <p>Add a picture</p>
    <input type="text " class="input" placeholder="Add a picure" />
  </div>

  <div id="pic__container">
    <div id="pictures"></div>
  </div>

  <div class="post-my-activity flex">
    <h2>Post my activity</h2>
    <img src="/static/img-trainer/plus-circle.png " alt=" " class="plus-icon" />
  </div>

  <div class="footer">
    <hr class="footer-line" />
  </div>
</div>
