<link rel="stylesheet" href="/static/stylesheets/activities.css" />
<title>Post activity</title>

<div class="background-container">
  <div class="feed-container">
    <div class="header flex">
      <img src="/static/img-trainer/logo.png" alt="" />
      <a class="nav trainer" href="/trainers">Trainers</a>
      <a class="nav" href="/activities">Activities</a>
      <img src="/static/img-activity/user-profile-img.jpg" alt="" />
    </div>

    <hr class="orange-line" />
    <div class="form-container">
      <h1>Post your ideaa</h1>
      <!-- <<%- include ('./partials/messages') %> -->
      <form
        action="/posts/newActivity"
        enctype="multipart/form-data"
        method="post"
      >
        <p>Title</p>
        <input class="input" type="text" name="name" />

        <p>Description</p>
        <input class="input" type="text" id="description" name="description" />

        <p>Location</p>
        <input class="input" type="text" name="location" />
        <label for="image" class="custom-file-upload"
          >Upload picture here <i class="fa-solid fa-file-arrow-down"></i
        ></label>
        <input id="img" type="file" name="image" />
        <div class="btn-cont">
          <button type="submit" class="btn orange">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
