<title>Profile</title>
<link rel="stylesheet" href="/static/stylesheets/activities.css" />
<div class="background-container">
    <div class="feed-container">
        <div class="main-container">
            <div class="header flex">
                <a class="anti-a" href="/activities"><img src="/static/img-activity/logo.png" alt="" /></a>
                <a class="nav" href="/trainers">Trainers</a>
                <a class="nav page-now" href="/activities">Activities</a>
                <img class="profile-pic" src="<%= user.profile.url %>" alt="" />
            </div>
            <hr class="orange-line" />
        </div>



    </div>
</div>