<title>BookDoog</title>
<link rel="stylesheet" href="/static/stylesheets/registerP.css" />

<div id="big__container">
  <div id="logo"></div>

  <div id="register">
    <h1>Register</h1>
    <div class="form-container">
      <%- include ('./partials/messages') %>
      <form action="/users/register" method="post">
        <p>Enter your email</p>
        <input
          type="email"
          name="email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />

        <p>Enter your password</p>
        <input
          type="password"
          name="password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />

        <p>Confirm password</p>
        <input
          type="password"
          name="password2"
          value="<%= typeof password2 != 'undefined' ? password : '' %>"
        />

        <br />
        <div class="btn-cont">
          <button type="submit" class="btn orange">Submit</button>
          <a class="btn black" href="/users/login"
            >Already have an account? </br> Log in</a
          >
        </div>
      </form>
    </div>
  </div>

  <div id="line"></div>
</div>
