<title>BookDoog</title>
<link rel="stylesheet" href="/static/stylesheets/registerP.css">
    
<div id="big__container">
    <div id="background"></div>

    <div id="logoText">
        <div id="logo"></div>
    </div>
    <div id="register">
        <h1 id="reg">Register</h1>
        <%- include ('./partials/messages') %>
        <form action="/users/register" method="post">
            <p>Enter your email</p>
            <input type="email" name="email" placeholder="Enter Email" 
            value="<%= typeof email != 'undefined' ? email : '' %>"/>

            <p>Enter your password</p>
            <input type="password" name="password" placeholder="Enter your password"
            value="<%= typeof password != 'undefined' ? password : '' %>">

            <p>Confirm password</p>
            <input type="password" name="password2" placeholder="Confirm password"
            value="<%= typeof password2 != 'undefined' ? password : '' %>">

            <br>
            <button type="submit" id="btn">Register</button>
        </form>
    </div>

    <div id="line"></div>
</div>
