<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/stylesheets/trainer.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <title>Trainers</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header flex">
        <img src="/static/img-trainer/logo.png" alt="" />
        <a class="nav trainer" href="">Trainers</a>
        <a class="nav" href="">Activities</a>
        <img src="/static/img-trainer/user-profile-img.jpg" alt="" />
      </div>
      <hr class="orange-line" />
      <div class="training-type flex">
        <div class="training-img">
          <img src="/static/img-trainer/obedience.png" alt="" />
          <p>Obedience</p>
        </div>
        <div class="training-img">
          <img src="/static/img-trainer/protection.png" alt="" />
          <p>Protection</p>
        </div>
        <div class="training-img">
          <img src="/static/img-trainer/hoops.png" alt="" />
          <p>Hoops</p>
        </div>
        <div class="training-img">
          <img src="/static/img-trainer/others.png" alt="" />
          <p>Others</p>
        </div>
      </div>
      <div class="search-bar-div">
        <input
          type="text"
          class="search-bar"
          placeholder="Search for a trainer"
        />
      </div>
      <!-- trainer profile -->
      <div class="trainer-profile">
        <hr class="orange-line" />
        <div class="trainer-infos flex">
          <div class="trainer-pic"></div>
          <div class="infos">
            <h3>Dog Trainer Jack</h3>
            <div class="trainer-category flex">
              <img
                src="/static/img-trainer/obedience.png"
                alt=""
                class="obedience-img"
              />
              <p>obedience</p>
            </div>
            <div class="location flex">
              <img
                src="/static/img-trainer/location-icon.png"
                class="location-img"
                alt=""
              />
              <p>Bruxelles</p>
            </div>
          </div>
        </div>
        <div class="trainer-text flex">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
          voluptates sit distinctio aliquam voluptatum. A consequatur nostrum
          quod temporibus dignissimos illo eveniet consectetur error obcaecati
          totam ipsam, ex, possimus omnis! Ullam consequatur quisquam quidem
          eius, vero totam qui ipsam numquam voluptate est quis laudantium,
          ducimus labore eos perspiciatis, iste explicabo laboriosam porro odit
          aspernatur et saepe veniam! Voluptas, temporibus sequi!
        </div>
        <div class="dog-pic">
          <img src="/static/img-trainer/puppy.jpg" alt="" class="dog-pic" />
        </div>
        <div class="reviews flex">
          <h2 class="average-rating">4.6</h2>
          <img src="/static/img-trainer/star.png" alt="" class="star" />
          <img src="/static/img-trainer/star.png" alt="" class="star" />
          <img src="/static/img-trainer/star.png" alt="" class="star" />
          <img src="/static/img-trainer/star.png" alt="" class="star" />
          <img src="/static/img-trainer/star.png" alt="" class="star" />
        </div>
        <div class="trainer-profile">
            <hr class="orange-line" />
            <div class="trainer-infos flex">
              <div class="trainer-pic"></div>
              <div class="infos">
                <h3>Dog Trainer Jack</h3>
                <div class="trainer-category flex">
                  <img
                    src="/static/img-trainer/obedience.png"
                    alt=""
                    class="obedience-img"
                  />
                  <p>obedience</p>
                </div>
                <div class="location flex">
                  <img
                    src="/static/img-trainer/location-icon.png"
                    class="location-img"
                    alt=""
                  />
                  <p>Bruxelles</p>
                </div>
              </div>
            </div>
            <div class="trainer-text flex">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
              voluptates sit distinctio aliquam voluptatum. A consequatur nostrum
              quod temporibus dignissimos illo eveniet consectetur error obcaecati
              totam ipsam, ex, possimus omnis! Ullam consequatur quisquam quidem
              eius, vero totam qui ipsam numquam voluptate est quis laudantium,
              ducimus labore eos perspiciatis, iste explicabo laboriosam porro odit
              aspernatur et saepe veniam! Voluptas, temporibus sequi!
            </div>
            <div class="dog-pic">
              <img src="/static/img-trainer/puppy.jpg" alt="" class="dog-pic" />
            </div>
            <div class="reviews flex">
              <h2 class="average-rating">4.6</h2>
              <img src="/static/img-trainer/star.png" alt="" class="star" />
              <img src="/static/img-trainer/star.png" alt="" class="star" />
              <img src="/static/img-trainer/star.png" alt="" class="star" />
              <img src="/static/img-trainer/star.png" alt="" class="star" />
              <img src="/static/img-trainer/star.png" alt="" class="star" />
            </div>
      </div>
      <div class="footer">
        <hr class="footer-line" />
      </div>
    </div>
  </body>
</html>
