<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/trainerCreP.css">
    <title>BookDoog</title>
</head>

<body>

    <div id="big__container">
        <div id="background">
        </div>

        <div id="logoText">
            <div id="logo"></div>




        </div>
        <div id="register">
            <h1 id="reg">Create a profale</h1>
            <p class="p">Who are you?</p>
            <div class="center">
                <p>User</p>
                <input type="checkbox" name="">
                <p>Trainer</p>
            </div>


            <div id="nav">
                <div class="flex">
                    <img src="img/obedience.png" alt="obedience">
                    <p class="navP">Obedience</p>
                </div>
                <div class="flex">
                    <img src="img/protection.png" alt="">
                    <p class="navP"> Protection</p>
                </div>
                <div class="flex">
                    <img src="img/hoop.png" alt="">
                    <p class="navP"> Hoop</p>
                </div>
                <div class="flex">
                    <img src="img/other.png" alt="">
                    <p class="navP"> Other</p>
                </div>

            </div>






            </form>
            <p class="p">Your name or Association name</p>
            <input type="text" name="email" placeholder="Enter Your name">

            <p class="p">Description</p>
            <textarea>Some text...</textarea>

            <p class="p">Street name</p>
            <input type="text" name="Street" placeholder="Street name">

            <div id="city">
                <p class="p">Post code</p>
                <input type="text" name="post" class="smollInput">
                <p class="p">City</p>
                <input type="text" name="city" class="smollInput">

            </div>
            <p class="p">Country</p>
            <input type="text" name="Country">

            <p class="p">Profile picture</p>
            <input type="text" name="pic">
            <p class="p">Extra Picture</p>
            <input type="text" name="extra">
            <p class="p">Phone Namber</p>
            <input type="text" name="number">


            <br>
            <button id="btn">Submit</button>
            </form>
        </div>





    </div>

</body>

</html>