<title>ActivityReview</title>
<link rel="stylesheet" href="/static/stylesheets/activities.css" />

<div class="background-container">
    <div class="feed-container">
        <div class="main-container">
            <div class="header flex">
                <img src="/static/img-activity/logo.png" alt="" />
                <a class="nav" href="/trainers">Trainers</a>
                <a class="nav page-now" href="/activities">Activities</a>
                <img src="/static/img-activity/user-profile-img.jpg" alt="" />
            </div>
            <hr class="orange-line" />





            <div class="activities-infos flex">
                <div class="activity-name">
                    <h4>

                    </h4>

                </div>
            </div>






            <div class="post-my-review">
                <h3 class="average-rating">Add your review:</h3>
                <form action="/posts/newReview" method="post">
                    <input class="input" type="text" placeholder="Give your opinion" id="review" name="review" />

                    <div class="space-between">
                        <input class="rating" max="5" oninput="this.style.setProperty('--value', this.value)" step="0.5" type="range" value="1" name="rating">
                        <button type="submit" class="btn3 orange">Submit</button>
                    </div>
                </form>
            </div>