<title>BookDoog</title>
<link rel="stylesheet" href="/static/stylesheets/registerP.css" />
<!-- <script src="/static/scripts/createprofile.js"></script> -->
<div id="big__container" class="">
  <div id="logo"></div>
  <div id="register">
    <h1>Create a profile</h1>
    <div class="form-container">
      <p class="p" style="text-align: center ;">Who are you?</p>
      <div class="center">
        <a href="/dashboard">
          <div>
            <p>User</p>
          </div>
        </a>
        <span style="margin: 0 15vw 0 0;"></span>
        <a href="/users/login">
          <div>
            <p>Trainer</p>
          </div>
                </div>
        </a>

      <form action="/profiles/new" method="post">
        <p class="p">Your name</p>
        <input type="text" name="name" placeholder="Enter Your name" />

        <p class="p">Your email</p>
        <input type="text" name="email" placeholder="Enter Your email" />

        <p class="p">Your location</p>
        <input type="text" name="location" placeholder="Enter Your location" />

        <p class="p">Your phone</p>
        <input type="text" name="phone" placeholder="Enter Your phone" />

        <p class="p">Your website</p>
        <input type="text" name="website" placeholder="Enter Your website" />

        <p class="p">Description</p>
        <textarea
          type="text"
          name="bio"
          placeholder="Write Your bio"
        ></textarea>

        <div class="btn-cont">
          <button type="submit" class="btn orange">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
