<title>BookDoog</title>
<link rel="stylesheet" href="/static/stylesheets/register-style.css" />
<!-- <script src="/static/scripts/createprofile.js"></script> -->
<div id="big__container">
  <div id="logo"></div>
  <div id="register">
    <h1>Create a profile</h1>
    <p style="text-align: center">Who are you?</p>
      <div class="center">
        <a class="btn small" href="/dashboard"> User </a>
        <a class="btn clicked small" href="/trainerCreate"> Trainer </a>
      </div>
    <div class="form-container">
      <form
        action="/profiles/newTrainer"
        method="post"
        enctype="multipart/form-data"
      >
      <div class="small-input-cont">
        <label for="name">Enter your name</label> </br>
        <input  id="name" type="text" name="name" />
      </div>
        
      <div class="small-input-cont">
        <label for="email">Enter your e-mail</label> </br>
        <input id="email" type="text" name="email" />
      </div>

      <div class="small-input-cont">
        <label for="phone">Phone number</label>
        <input id="phone" type="text" name="phone" />
      </div>
        
      <div class="small-input-cont">
        <label for="website">Your Website</label>
        <input id="website" type="text" name="website" />
      </div>
        

        <label for="location">Enter your adress</label>
        <input id="location" type="text" name="location" />

        <label for="bio">Description</label>
        <textarea
          id="bio"
          type="text"
          name="bio"
          placeholder="Tell us more about yourself..."
        ></textarea>
        <label for="image" class="custom-file-upload"
          >Upload profile picture here
          <i class="fa-solid fa-file-arrow-down"></i
        ></label>
        <input id="image" type="file" name="image" />

        <div class="btn-cont">
          <button type="submit" class="btn orange">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
