* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
}
/* .main-container {
} */
.orange-line {
  margin: 3vh 0 3vh 0;
  border: solid 2px #fa6650;
  background-color: #fa6650;
}
.header {
  justify-content: space-around;
  margin-top: 5vh;
  height: 8vh;
  font-size: 50%;
  line-height: 8vh;
}
.activities {
  text-decoration: underline 5px #fa6650;
}
.search-bar-div {
  text-align: center;
  margin: 3vh 0 3vh 0;
}
.search-bar {
  height: 4vh;
  width: 80vw;
  max-width: 300px;
  border-radius: 30px;
  border: none;
  background-color: rgb(241, 241, 241);
}

input {
  padding-left: 30px;
}
.activities-infos {
  margin-left: 10vw;
}
.trainer-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-image: url("/static/img-trainer/gosling.jpg");
  background-size: 50px;
}
.activity-name {
  margin-left: 5vw;
  margin-top: 5px;
}
.grey-text {
  color: rgb(168, 166, 166);
  font-size: 80%;
  margin-top: 3px;
}
.activity-description {
  text-align: justify;
  margin: 1vh 5vw 1vh 5vw;
  color: rgb(92, 91, 91);
}
.location-text {
  margin-left: 6vw;
  color: rgb(92, 91, 91);
}
.location {
  height: 25px;
  line-height: 25px;
  margin-bottom: 1vh;
  margin-right: 1vw;
}
.dog-pic {
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  max-height: 25vh;
  border-radius: 5px;
  text-align: center;
}
.reviews {
  height: 30px;
  line-height: 30px;
  justify-content: center;
  margin-top: 2vh;
}
.star {
  margin: 2px;
  height: 24px;
}
.post-my-activity {
  text-align: center;
  background-color: #fa6650;
  height: 4vh;
  line-height: 4vh;
  justify-content: center;
  font-size: 70%;
  margin: 3vh 10vw 0 10vw;
  border-radius: 10px;
  color: white;
}
.plus-icon {
  height: 2.5vh;
  margin: auto 0 auto 15px;
}
.footer-line {
  margin: 40px;
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: solid 2px black;
  background-color: black;
}
a {
  color: black;
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
}
.post-btn {
  color: white;
  font-size: 1em;
  font-weight: 300;
}
@media only screen and (min-width: 600px) {
}
