* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
}
.background-container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../img/dogs2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feed-container {
  background-color: white;
  width: 100%;
  min-height: 100vh;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #fa6650;
  margin-bottom: 10px;
  font-family: "Shadows Into Light", cursive;
  font-size: 3em;
  text-align: center;
}
.orange-line {
  margin: 3vh 0 3vh 0;
  border: solid 1px #fa6650;
  background-color: #fa6650;
}
.header {
  justify-content: space-around;
  padding-top: 1rem;
  height: 8vh;
  font-size: 50%;
}
.nav {
  font-family: "Shadows Into Light", cursive;
  font-size: 3.5em;
}
.page-now {
  border: 2px solid #af4638;
  border-radius: 65px;
  padding: 3px;
}
.location-img {
  height: 25px;
}
.activities {
  text-decoration: underline 5px #fa6650;
}
.search-bar-div {
  text-align: center;
  margin: 3vh 0 3vh 0;
}
.search-bar {
  height: 4vh;
  width: 80vw;
  max-width: 300px;
  border-radius: 30px;
  border: none;
  background-color: rgb(241, 241, 241);
}
.trainer-profile {
  padding-left: 30px;
}
.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 25px;
  border: none;
  background-color: #f0f0f0;
}
form {
  padding: 1.5em;
}
#description {
  height: 150px;
}
.activities-infos {
  margin-left: 10vw;
}
.trainer-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-image: url("/static/img-trainer/gosling.jpg");
  background-size: 50px;
}
.activity-name {
  margin-left: 5vw;
  margin-top: 5px;
}
.grey-text {
  color: rgb(168, 166, 166);
  font-size: 80%;
  margin-top: 3px;
}
.activity-description {
  margin: 1vh 5vw 1vh 5vw;
  color: rgb(92, 91, 91);
  line-height: 1.5em;
}
.location-text {
  margin-left: 6vw;
  color: rgb(92, 91, 91);
}
#map-container {
  height: 200px;
}
.location {
  line-height: 20px;
  margin-bottom: 1vh;
  margin-right: 1vw;
  display: block;
}
.dog-pic {
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  max-height: 25vh;
  border-radius: 5px;
  text-align: center;
}

.see-more {
  margin-left: 6vw;
  font-style: italic;
}
.reviews {
  height: 30px;
  line-height: 30px;
  justify-content: center;
  margin-top: 2vh;
}
.star {
  margin: 2px;
  height: 24px;
}
.post-my-activity {
  background-color: #fa6650;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 3vh 10vw 0 10vw;
  border-radius: 65px;
  color: white;
  position: sticky;
  bottom: 10;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.post-btn {
  color: white;
  font-weight: 300;
  font-size: 1.5em;
}
i {
  margin-left: 10px;
}
.form-container {
  height: 70%;
}

.btn {
  color: white;
  width: 200px;
  height: auto;
  padding: 1em;
  margin: 0.3em;
  border-radius: 65px;
  text-align: center;
  border: none;
  font-size: 1em;
  margin-top: 2rem;
}
.trainer-card {
  height: 230px;
}

.trainer-pic {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-image: url(/static/img-trainer/gosling.jpg);
  background-size: 120px;
}
.training-type {
  justify-content: space-around;
}
.orange {
  background-color: #fa6650;
}
.btn-cont {
  text-align: center;
}
.black {
  background: rgba(0, 0, 0, 0.55);
}
.card-container {
  padding: 1rem;
}
@media only screen and (min-width: 600px) {
  .feed-container {
    width: 70%;
    border-radius: 65px;
    min-height: 60vh;
  }
  .background-container {
    padding: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .feed-container {
    width: 50%;
  }
}
