* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.background-container {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url("../img/dogs2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feed-container {
  background-color: white;
  width: 100%;
  min-height: 100vh;
}
.orange-line {
  margin-bottom: 1rem;
  border: solid 1px #fa6650;
  background-color: #fa6650;
}
/* <---------------------------------------------Navbar---------------------------------------------> */
.navbar-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: solid 2px #fa6650;
  /* background: rgba(0, 0, 0, 0.55); */
}
.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.nav {
  font-size: 1.5em;
  font-family: "Shadows Into Light", cursive;
  color: black;
  text-decoration: none;
  font-weight: 700;
}

.page-now {
  border: 2px solid #af4638;
  border-radius: 65px;
  padding: 3px;
}

.img-cont {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
.logo {
  background-image: url("/static/img-activity/logo.png");
}
.user {
  background-image: url("/static/img-activity/user-profile-img.jpg");
}
/* <---------------------------------------------Header---------------------------------------------> */
.title-container {
  height: 130px;
  text-align: center;
}
.search-bar-div {
  display: flex;
  justify-content: center;
}
.profile-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.search-bar {
  height: 30px;
  width: 80%;
  max-width: 300px;
  border-radius: 25px;
  border: none;
  background-color: rgb(241, 241, 241);
  padding: 10px;
}
/* h1 {
  padding: 1rem;
} */
/* <---------------------------------------------CARDS---------------------------------------------> */
.card-container {
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 25px;
  overflow: hidden;
  margin: 1rem auto;
  height: 300px;
  width: 85%;
  flex-direction: column;
  justify-content: space-evenly;
}
.big {
  height: auto !important;
}
a {
  text-decoration: none;
}
.shared-by {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
body > div > div > div.activities-card > h3 {
  text-align: center;
}
h2 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}
.yo {
  margin-top: 25px;
  margin-left: 15px;
}
.user-pic {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-right: 5px;
  /* background-image: url(/static/img-trainer/gosling.jpg); */
  background-size: cover;
  background-position: center;
}

.grey-text {
  color: rgb(168, 166, 166);
  font-size: 80%;
  margin-top: 3px;
}

.description {
  color: rgb(92, 91, 91);
  margin: 10px 0 0 20px;
  text-align: justify;
  text-align-last: center;
}

.location-text {
  color: rgb(92, 91, 91);
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  justify-content: center;
}
.starDiv {
  margin: 4px 10px 0 10px;
  vertical-align: auto;
}
.location {
  height: 25px;
  line-height: 25px;
  margin-bottom: 1vh;
  margin-right: 1vw;
}

.post-img {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  margin: 1em auto;
}
.post-btn {
  color: white;
  font-weight: 300;
  font-size: 1.5em;
}
i {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
.flex {
  display: flex;
}
.reviews {
  height: 30px;
  justify-content: center;
}

.btn {
  color: white;
  width: 200px;
  height: auto;
  padding: 1em;
  margin: 0.3em;
  border-radius: 65px;
  text-align: center;
  border: none;
  font-size: 1em;
  display: inline-block;
}
.orange {
  background-color: #fa6650;
}

.black {
  background: rgba(0, 0, 0, 0.55);
}
#map-container {
  height: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* <---------------------------------------------DYLANS AWESOME RATINGS---------------------------------------------> */
[dir="rtl"] .rating {
  --dir: left;
}
.flex {
  display: flex;
}
.padding {
  padding-bottom: 30px;
  padding-left: 1rem;
}
.activities-card {
  padding: 1rem;
}
.button-container {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star {
  margin: 2px;
  height: 24px;
}
.user-review {
  padding: 1rem;
}
.btn3 {
  color: white;
  width: 175px;
  padding: 1em;
  border-radius: 65px;
  text-align: center;
  border: none;
  font-size: 1em;
}
.post-my-review {
  background-color: white;
  padding: 1rem;
  position: sticky;
  bottom: 1;
}
#review {
  height: 85px;
  width: 100%;
  border-radius: 25px;
  border: none;
  background-color: rgb(241, 241, 241);
  padding: 10px;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.loupe {
  margin: 6px 0 0 2px;
}
.rating {
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --fill: #fa6650;
  --fillbg: rgba(100, 100, 100, 0.15);
  --dir: right;
  --stars: 5;
  --starsize: 2rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  /* position: relative; */
  touch-action: manipulation;
  -webkit-appearance: none;
}

.rating::-webkit-slider-runnable-track {
  background: linear-gradient(
    to var(--dir),
    var(--fill) 0 var(--x),
    var(--fillbg) 0 var(--x)
  );
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}

.post-my-activity {
  display: flex;
  background-color: #fa6650;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 3vh 10vw 0 10vw;
  border-radius: 65px;
  color: white;
  position: sticky;
  bottom: 10;
}
/* <---------------------------------------------TRAINERS---------------------------------------------> */
.location {
  height: 5vh;
  line-height: 5vh;
  margin-top: 5px;
}
/* <---------------------------------------------POST---------------------------------------------> */
.form-container {
  height: 70%;
}
h1 {
  color: #fa6650;
  margin-bottom: 10px;
  font-family: "Shadows Into Light", cursive;
  font-size: 3em;
  text-align: center;
}
form {
  padding: 1.5em;
}
.input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 25px;
  border: none;
  background-color: #f0f0f0;
}
.btn-cont {
  text-align: center;
  padding: 1rem;
}
@media only screen and (min-width: 600px) {
  .feed-container {
    width: 70%;
    min-height: 100vh;
  }
  .resize {
    height: 350px;
  }
}

@media only screen and (min-width: 1000px) {
  .feed-container {
    width: 50%;
  }
  .resize {
    width: 450px;
    height: 400px;
  }
}
