* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#big__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url("../img/dogs2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.small-container {
  width: 70%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  background-image: url("../img/logo.png");
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#logoText {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  color: white;
  width: 200px;
  height: auto;
  padding: 1em;
  margin: 0.3em;
  border-radius: 65px;
  text-align: center;
  text-decoration: none;
}
.orange {
  background-color: #fa6650;
}

.black {
  background: rgba(0, 0, 0, 0.55);
}
h2 {
  color: white;
  text-align: center;
  font-size: 1em;
}
.btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
#Footer {
  color: white;
  text-align: center;
  font-size: 0.7em;
}
@media screen and (min-width: 800px) {
  #logo {
    height: 300px;
  }
}
@media screen and (min-width: 1600px) {
  #logo {
    height: 500px;
  }
}
