* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#big__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  background-image: url("../img/dogs2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
  background-image: url("../img/logo.png");
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
h1 {
  color: #fa6650;
  margin-bottom: 10px;
  font-family: "Shadows Into Light", cursive;
  font-size: 3em;
}
#register {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 65px;
  border: none;
}
.btn {
  color: white;
  width: 230px;
  height: auto;
  padding: 1em;
  border-radius: 65px;
  text-align: center;
  border: none;
  font-size: 0.9em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.3rem;
}
a {
  text-decoration: none;
  display: block;
}
.orange {
  background-color: #fa6650;
}
.black {
  background: rgba(0, 0, 0, 0.55);
}
.btn-cont {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .form-container {
    width: 450px;
  }
}
