* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

@media screen and (max-width: 414px) {
    #big__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-image: url("../img/dogs2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    #logo {
        background-image: url("../img/logo.png");
        height: 160px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    h1 {
        color: #fa6650;
        margin-bottom: 10px;
        font-family: "Shadows Into Light", cursive;
        font-size: 3em;
    }
    #line {
        width: 180px;
        height: 7px;
        background-color: white;
        border-radius: 7px;
        position: absolute;
        bottom: 10px;
        left: 29%;
    }
    #register {
        width: 100%;
        height: 60%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input {
        padding: 10px;
        margin-bottom: 10px;
        width: 270px;
        border-radius: 65px;
        border: none;
    }
    .btn {
        color: white;
        width: 200px;
        height: auto;
        padding: 1em;
        margin: 0.3em;
        border-radius: 65px;
        text-align: center;
        border: none;
        font-size: 1em;
        margin-top: 2rem;
    }
    .orange {
        background-color: #fa6650;
    }
    input[type="checkbox"] {
        position: relative;
        width: 50px;
        height: 25px;
        -webkit-appearance: none;
        background-color: #fa6650;
        border-radius: 20px;
        transition: 0.5s;
        margin: 0 25px 0 25px;
    }
    input:checked[type="checkbox"] {
        background: #1c1e20;
    }
    input[type="checkbox"]::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        top: 0;
        left: 0;
        background: #fff;
        transform: scale(1.1);
        transition: 0.5s;
    }
    input:checked[type="checkbox"]::before {
        left: 25px;
    }
    .center {
        display: flex;
        justify-content: center;
    }
    .p {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .btn-cont {
        text-align: center;
    }
    textarea {
        width: 270px;
        height: 100px;
        border: none;
        border-radius: 25px;
        padding: 10px;
    }
}