* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#big__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/dogs2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.small-container {
  width: 70%;
  height: 100%;
}
#logo {
  background-image: url("../img/logo.png");
  height: 105px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h2 {
  color: white;
  font-size: 1em;
  text-align: center;
}
#textFooter {
  color: white;
  font-size: 0.7em;
  text-align: center;
}

.btn {
  color: white;
  width: 100px;
  height: auto;
  padding: 1em;
  margin: 0.5em;
  border-radius: 65px;
  text-align: center;
  text-decoration: none;
}
