* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

#big__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    background-image: url("../img/dogs2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.small-container {
    width: 70%;
    height: 85%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#logo {
    background-image: url("../img/logo.png");
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#logoText {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
    font-size: 1em;
    text-align: center;
}

#Footer {
    width: 100%;
    height: 10%;
    color: white;
    font-size: 0.7em;
    text-align: center;
}

p {
    color: white;
    font-size: 1.3em;
}

.btn {
    color: white;
    width: 200px;
    height: auto;
    padding: 1em;
    margin: 0.3em;
    border-radius: 65px;
    text-align: center;
    text-decoration: none;
}

.orange {
    background-color: #fa6650;
}

.black {
    background: rgba(0, 0, 0, 0.55);
}

@media screen and (min-width: 800px) {
    #logo {
        height: 300px;
    }
}