* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
}
.main-container {
  max-width: 100vw;
  height: auto;
}
.orange-line {
  margin: 1rem 0 1rem 0;
  border: solid 2px #fa6650;
  background-color: #fa6650;
}
.header {
  justify-content: space-around;
  margin-top: 5vh;
  height: 8vh;
  font-size: 50%;
  line-height: 8vh;
}
.trainer {
  text-decoration: underline 5px #fa6650 !important;
}
.training-type {
  justify-content: space-evenly;
  margin: 0 5vw 0 5vw;
}
.training-img {
  text-align: center;
  width: 20vw;
}
.search-bar-div {
  text-align: center;
  margin: 3vh 0 3vh 0;
}
.search-bar {
  height: 4vh;
  width: 80vw;
  max-width: 300px;
  border-radius: 30px;
  border: none;
  background-color: rgb(241, 241, 241);
}
input {
  padding-left: 30px;
}
.trainer-infos {
  justify-content: space-evenly;
}
.trainer-pic {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-image: url(/static/img-trainer/gosling.jpg);
  background-size: 120px;
}
.trainer-category {
  margin-top: 10px;
  height: 5vh;
  line-height: 5vh;
}
.obedience-img {
  height: 35px;
}
.location {
  height: 5vh;
  line-height: 5vh;
  margin-top: 5px;
}
.location-img {
  height: 35px;
}
.trainer-text {
  text-align: center;
  margin: 1vh 3vh 2vh 5vh;
}
.dog-pic {
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  max-height: 25vh;
  border-radius: 5px;
  text-align: center;
}
.reviews {
  height: 30px;
  line-height: 30px;
  justify-content: center;
  margin-top: 2vh;
}
.star {
  margin: 2px;
}
.footer-line {
  margin: 40px;
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: solid 2px black;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  color: white;
  width: 100px;
  height: auto;
  padding: 1em;
  margin: 0.5em;
  border-radius: 65px;
  text-align: center;
  text-decoration: none;
}
.orange {
  background-color: #fa6650;
}
.black {
  background: rgba(0, 0, 0, 0.55);
}
.nav {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: black;
}
.activities-card {
  width: 100%;
  height: auto;
  padding: 1.5rem;
}
.activities-img-div {
  border-radius: 65px;
  width: 100%;
  height: 200px;
  background-image: url(./img-trainer/puppy.jpg);
  background-size: contain;

  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
p {
  margin: 1em;
}
