* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width:414px) {
    #background {
        background-image: url(img/dogs.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 127vh;
        max-width: 100vh;
        filter: brightness(0.5);
    }
    #logoText {
        position: absolute;
        width: 300px;
        top: 25px;
        left: 3%;
    }
    #big__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #logo {
        background-image: url('img/logo.png');
        height: 105px;
        width: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 25em;
    }
    h2 {
        color: white;
        color: white;
        padding-left: 114px;
        padding-top: 10px;
        text-align: center;
    }
    h3 {
        padding-top: 12px;
    }
    #buttons {
        position: absolute;
        margin-top: 150px;
        margin-left: 90px;
    }
    #sing {
        width: 225px;
        height: 50px;
        background-color: #1C1E20;
        border-radius: 30px;
        margin-bottom: 15px;
        text-align: center;
        color: white;
        filter: opacity(0.7);
    }
    #log {
        width: 225px;
        height: 50px;
        background-color: #FA6650;
        border-radius: 30px;
        text-align: center;
        color: white;
    }
    #textFooter {
        color: white;
        width: 280px;
        margin-top: 10px;
    }
    #line {
        width: 180px;
        height: 7px;
        background-color: white;
        border-radius: 7px;
        position: absolute;
        bottom: -240px;
        left: 29%;
    }
    #btnContainer {
        position: absolute;
        bottom: 315px;
    }
    #register {
        position: absolute;
        left: 65px;
        color: white;
        top: 120px;
    }
    #reg {
        color: #FA6650;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    input {
        padding: 10px;
        width: 280px;
    }
    #btn {
        width: 185px;
        height: 50px;
        background-color: #FA6650;
        border-radius: 30px;
        text-align: center;
        color: white;
        margin-top: 15px;
        border: 0;
        font-size: 20px;
        font-weight: bold;
        margin-left: 40px;
    }
    input[type="checkbox"] {
        position: relative;
        width: 50px;
        height: 25px;
        -webkit-appearance: none;
        background-color: #FA6650;
        border-radius: 20px;
        transition: .5s;
        margin: 0 25px 0 25px;
    }
    input:checked[type="checkbox"] {
        background: #1C1E20;
    }
    input[type="checkbox"]::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 20px;
        top: 0;
        left: 0;
        background: #fff;
        transform: scale(1.1);
        transition: .5s;
    }
    input:checked[type="checkbox"]::before {
        left: 25px;
    }
    .center {
        display: flex;
        justify-content: flex-start;
        margin-left: 44px;
    }
    .p {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }
    textarea {
        width: 80%;
        height: 100px;
        width: 280px;
    }
    #nav {
        width: 80%;
        height: 80px;
        background-color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        width: 280px;
    }
    .navP {
        color: #1C1E20;
        font-size: 14px;
        margin-left: 4px;
    }
    img {
        height: 50px;
    }
    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    #city {
        display: flex;
        margin-left: -37px;
        margin-top: 10px;
    }
    .smollInput {
        width: 100px;
    }
}